* {
	margin: 0;
	padding: 0;
	font-family: helvetica ;
	font-size: 12px ;
	text-decoration: none; 

}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper {
	min-height: 100%;
	position: relative;
}


/*HEADER*/


nav {
	height: 42px;
	width: 100%;
	text-align: justify;
}

li {
	list-style-type: none;
	display: inline-block;
	position: relative;
	max-height: 100%;

}

li a {
	text-decoration: none;
	color: black;
	display: inline-block;
	min-height: 100%;
}

li:hover {
	text-decoration: underline;
}



.left {
	float: left;
}

.right {
	float: right;
}

.apps {
	height: 20px;
	top: 3px;
}

.notify {
	
	height: 24px;
	position: relative;
	top: 3px;
}

.user {
	border-radius: 24px;
	top: 4px;
	position: relative;
}


/*BODY*/

section {
	padding-top: 103px;
	min-height: 100%;
	padding-bottom: 42px;
}


.googlelogo {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 94px;
	padding-bottom: 13px;
}

.searchbar {
	
	display: block;

	margin-left: auto;
	margin-right: auto;
	width: 430px;
	margin-top: 10px;
	border-style: solid;
	box-shadow: 3px 3px 6px hsl(0, 3.8%, 89.8%);
	padding: 7px;
	height: 27px;
}

.buttons {
	width: 275px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.buttons input{
	background: #e3e0e033;
	height: 36px; width: 125.333px;
	display: block;
	border-style: solid;
	color: gray;
	font-weight: bold;
}

#search {
	/*margin-left: auto;*/
	margin-right: auto;
	float: left;

}

#im_feeling_lucky {
	margin-left: auto;
	/*margin-right: auto;*/
}

/*FOOTER*/

footer {

	border: #0000 solid thin;
	position: absolute;
	background: #0e0e0e1a;
	height: 42px;
	width: 100%;
	bottom: 0px;
	
}
