* {
	margin: 0;
	padding: 0;
	font-family: helvetica ;
	font-size: 12px ;
	text-decoration: none; 
}

nav {
	margin: 0 ;
	height: 30px;
}

nav li {
	list-style-type: none;
	display: inline-block;
	margin: 10px 13px;
}

nav li a {
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}



nav .left {
	float: left;
}

nav .right {
	float: right;
}

.content {
	margin: 0 auto;

}

.googlelogo {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 70px;
	margin-top: 59px;
}

.searchbar {
	
	display: block;

	margin-left: auto;
	margin-right: auto;
	width: 384px;
	margin-top: 10px;
	border-style: solid;
	box-shadow: 3px 3px 6px hsl(0, 3.8%, 89.8%);
	padding: 7px;
}

.buttons {
	width: 275px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.buttons input{
	background: #e3e0e033;
	height: 36px; width: 125.333px;
	display: block;
	border-style: solid;
}

#search {
	/*margin-left: auto;*/
	margin-right: auto;
	float: left;

}

#im_feeling_lucky {
	margin-left: auto;
	/*margin-right: auto;*/
}